body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;;
}

.crocs-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.swatch-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.swatch-item {
  min-width: 8rem;
  height: 4rem;
}

a.thumbnail {
  width: 15%;
  min-width: 150px;
  padding: 0 30px 2em;;
  margin: 5px; 
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: #000;
  text-decoration: none;
  
}
a.thumbnail:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

a.thumbnail img {
  object-fit: cover;
  width: 100%;
}

a.thumbnail h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: -1rem;
}