body {
  background-color: #fff;
  line-height: 1.5;
  text-align: center;
  font-size: var(--step-1);
}

main, header, footer {
  width: 80%;
  max-width: 1200px;
  margin: 2em auto;
  padding: 2em 0;
}

header {
  border-bottom: 1px solid #ddd;
  margin-top: 1em;
  padding-bottom: 3em;
}
main {
  padding: 2em 0;
}

main section {
 max-width: 100%;
}

@media (max-width: 500px) {
  main, header, footer {
    width: 100%;
  }
}

section,
section p {
  text-align: center;
}

footer {
  border-top: 1px solid #eee;
  padding-top: 4em;
}

h1 {
  font-size: var(--step-6);
  margin-bottom: 0;
}
h1, h2 {
  line-height: 1.5;
}


.crocs-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
;
}

.croc-name {
  background-color: #eee;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  white-space: nowrap;
}

.hero-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.crocs-hero-image {
  width: 60%;
  min-width: 200px;
  height: auto;
  margin-top: -10%;
  margin-bottom: -10%;
}

.swatch-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

a.swatch-item {
  min-width: 10rem;
  height: 5rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
div.guess a.swatch-item {
  cursor: default;
}

a.swatch-item .swatch-item__value {
  display: none;
  background-color: #00000066;
  color: #fff;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  font-weight: bold;
  margin: 0;
}

div.guess a.swatch-item .swatch-item__value,
a.swatch-item:active .swatch-item__value {
  display: block;
}

a.thumbnail {
  width: 15%;
  min-width: 10em;
  padding: 1rem 30px 2em;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: #000;
  text-decoration: none;
  border: 1px solid #00000099;
}
a.thumbnail:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

a.thumbnail img {
  object-fit: cover;
  width: 100%;
}

a.thumbnail h2 {
  font-size: var(--step-0);
  white-space: nowrap;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin: -1em auto -1rem;
}

form {
  background-color: #fff;
}

input:not([type="submit"]) {
  width: 12em;
}
