body {
  background-color: #fff;
  line-height: 1.5;
  text-align: center;;
}

main {
  width: 80%;;
  max-width: 1000px;
  margin: 0 auto;
}

.crocs-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.croc-name {
  background-color: #eee;
  border-radius: 4px;
  padding: 0.25em 0.5em;
}

.hero-image {
  width: 100%;
  height: 50%; 
  overflow: hidden;
}
.crocs-hero-image {
  width: 100%;
  height: auto;
  margin-top: -25%; 
  margin-bottom: -25%; 
}


.swatch-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.swatch-item {
  min-width: 8rem;
  height: 4rem;
  border-radius: 4px;
}

a.thumbnail {
  width: 15%;
  min-width: 150px;
  padding: 0 30px 2em;;
  margin: 5px; 
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: #000;
  text-decoration: none;
  
}
a.thumbnail:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

a.thumbnail img {
  object-fit: cover;
  width: 100%;
}

a.thumbnail h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: -1rem;
}

form {
  background-color: #fff;
}

input:not([type=submit]) {
  width: 12em;
}

