---
layout: layouts/base.vto
title: Crocss
---

<p>Crocs come in so many colours! Can you guess their hex codes?</p>

<section class="crocs-thumbnails">
  {{ for item of crocs }}
    {{ comp.thumbnail({ imageUrl: item.imageUrl, name: item.name }) }}
  {{ /for }}
</section>
